<div class="controls">
    <div>
        <label>
            Pan Width: <input type="range" [(ngModel)]="width" min="150" max="1300" step="25" (input)="widthChanged($event)">
            {{ pixelsToInches(width) | number: '1.2-2' }} in
          </label>
          <br>
          <label>
            Pan Height: <input type="range" [(ngModel)]="height" min="150" max="1300" step="25" (input)="heightChanged($event)">
            {{ pixelsToInches(height) | number: '1.2-2' }} in
          </label>
    </div>
    <div>
        <label>
            Tot Width: <input type="range" [(ngModel)]="cellWidth" min="10" max="300" step="2" (input)="cellWidthChanged($event)">
            {{ pixelsToInches(cellWidth) | number: '1.2-2' }} in
        </label>
        <br>
        <label>
            Tot Height: <input type="range" [(ngModel)]="cellHeight" min="10" max="200" step="2" (input)="cellHeightChanged($event)">
            {{ pixelsToInches(cellHeight) | number: '1.2-2' }} in
        </label>
    </div>
</div>  
<app-artboard
    [width]="width"
    [height]="height"
    [cellWidth]="cellWidth"
    [cellHeight]="cellHeight">
</app-artboard>
